/*
Purple: #6f467e
Gray: #b4aebc
Aqua: #9fd9dd
Gold: #c9be4b
Cream: #fce482
*/

body {
	margin: 0;
}

h1 {
	text-align: center;
}

ul li a:hover:not(.active), .dropdown:hover:not(.active) .dropbtn {
	background-color: #b4aebc;
	color: black;
}
.dropdown-content a:hover:not(.active) {
	background-color: #9fd9dd;
	color: black;
}

.active, #active {
	background-color: #fce482;
	color: black;
}

/* overrides .active for edit book drop down */
#book_ISBN {
	background-color: #b4aebc;
}

table {
	margin: 1% 0.5%;
	border-collapse: collapse;
	width: 99%;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}
tr:nth-child(odd) {
	background-color: white;
}

tr:hover {
	background-color: #9fd9dd;
}

th, td {
	padding: 15px;
	border: 1px solid black;
	vertical-align: center;
}

th {
	text-align: center;
	background-color: #6f467e;
	color: white;
}

td {
	text-align: left;
}

/* all forms */
form {
	display: inline;
}

.inputForm {
	margin-top: 2%;
}

/* form groups */
fieldset, .fieldset, aside {
	border-style: solid;
	border-width: 1px;
	background-color: #f2f2f2;
}

legend {
	padding: 0 5px;
	border: 1px solid black;
	font-size: 22px;
	background-color: #6f467e;
	color: white;
}

.leftcolumn, .rightcolumn {
	float: left;
	margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

label {
	margin: 4px 2px 4px 0px;
	padding: 16px 32px 16px 0px;
	display: inline-block;
}

input[type=text], input[type=password]{
	width: 100%;
	box-sizing: border-box;
	border-radius: 10px;
	resize: vertical;
	margin: 4px 2px;
	padding: 16px 32px;
}

input[type=number], select {
	border-left: 2px solid black;
	border-right: 2px solid black;
	border-top: 2px solid black;
	margin: 4px 2px;
	padding: 16px 32px;
	box-sizing: border-box;
	width: 300px;
	float: left;
	border-radius: 10px;
	resize: vertical;
}
select {
	overflow: auto;
}
#price {
	text-align: right;
}

input[type=reset], input[type=submit], button {
	width: 100%;
	box-sizing: border-box;
	border-radius: 10px;
	resize: vertical;
	float: left;
	margin: 20px 2px 4px 0px;
	padding: 16px 32px 16px 0px;
	background-color: #b4aebc;
	cursor: pointer;
	text-decoration: none;
}

input[type=reset]:hover, button:hover {
	background-color: #9fd9dd;
}

/* Red if empty, green if contains anything/original data, blue if altered */
select.green, input.green{
	border-bottom: 2px solid green;
}
select.blue, input.blue {
	border-bottom: 2px solid blue;
}
select.red, input.red{
	border-bottom: 2px solid red;
}

.button {
	float: left;
	width: 50%;
}

.container {
	padding-top: 10px;
	margin-top: 10px;
}

/* the fieldset is shown when the user clicks on a specific field */
#messagePSW, #messageCPSW, #messageFirstName, #messageLastName {
	display:none;
	position: relative;
	margin-top: 10px;
}
#messagePSW p, #messageCPSW p, #messageFirstName p, #messageLastName p {
	padding: 10px 35px;
	font-size: 18px;
}

.invalid:before, .valid:before {
	left: -35px;
}
/* adds cross */
.invalid:before {
	content: "✖";
}
/* red text color when invalid */
.invalid {
	color: red;
}
/* adds tick */
.valid:before {
	content: "✔";
}
/* green text colour when valid */
.valid {
	color: green;
}
.invalid:before, .valid:before {
	position: relative;
}

/* all input form errors */
.error {
	color: #FF0000;
}

/* order books form */
.listFieldset, .aside {
	border-style: solid;
	border-width: 1px;
	text-align: center;
	color: white;
	background-color: #6f467e;
}

.bookTitle, .bookYear, .pubName, .catDesc, .bookPrice {
	margin-bottom: 7px;
}
.bookYear::before, .pubName::before, .catDesc::before {
	content: "- ";
}
.bookPrice::before {
	content: "- £";
}

.item {
	display: grid;
	position: relative;
	padding-left: 180px;
	margin: 0px 5px 10px;
	cursor: pointer;
	text-align: left;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: black;
	background-color: #f2f2f2;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
.item:hover {
	background-color: #fce482;
}

.item input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	position: absolute;
	top: 10%;
	left: 50px;
	height: 24px;
	width: 24px;
	background-color: #b4aebc;
}

/* grey BG on hover */
.item:hover input ~ .checkmark {
	background-color: #9fd9dd;
}

/* gold checkmark */
.item input:checked ~ .checkmark {
	background-color: #c9be4b;
}

/* checkmark/indicator hide/reveal */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* show checkmark/indicator */
.item input:checked ~ .checkmark:after {
	display: block;
}

/* checkmark/indicator */
.item .checkmark:after {
	left: 9px;
	top: 4px;
	width: 4px;
	height: 10px;
	border: solid #6f467e;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

/* payment method styling, added HTML markup to improve it 
   did not remove anything only added 
   since it uses css for my forms but not in my HTML format it was broken */
#checkCost, #collection, #placeOrder {
	padding-left: 1%;
	padding-right: 1%;
}
.custDetails label {
	top: 0;
}
.custDetails select {
	float: none;
}
.index {
	text-align: center;
}

/* Desktop */
@media only screen and (min-width: 1000px) {
	/* Create two unequal columns that floats next to each other */
	/* Left column */
	.leftcolumn {
		width: 15%;
	}
	/* Right column */
	.rightcolumn {
		width: 85%;
	}
	
	.listFieldset {
		margin: 1px 25% 50px 25%;
	}
	fieldset, .fieldset {
		margin: 1px 25%;
	}
	fieldset, .fieldset, .listFieldset {
		width: 50%;
	}
	
	.bookTitle {
		font-size: 22px;
	}
	.bookYear, .pubName, .catDesc, .bookPrice {
		font-size: 18px;
	}
	
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #6f467e;
	}

	ul li {
		float: left;
	}

	ul li a, .dropbtn {
		display: inline-block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}
	.dropbtn {
		cursor: initial;
	}

	ul li.dropdown {
		display: inline-block;
	}

	.dropdown-content {
		display: none;
		padding: 5px;
		position: absolute;
		background-color: #b4aebc;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
	}

	.dropdown-content a {
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		text-align: left;
	}

	.dropdown-content a:hover {
		background-color: #9fd9dd;
	}

	.dropdown:hover .dropdown-content {
		display: block;
	}

	ul li#profile {
		float: right;
	}

	/* offers displayed to the side */
	section {
		text-align: center;
		float: left;
		height: 100%;
	}
	.aside {
		width: 500px;
		float: right;
		text-align: center;
		height: 100%;
	}
	aside {
		color: black;
		padding: 5px 20px;
		margin: 5px 20px;
	}
	aside p {
		text-align: left;
	}
	aside:hover {
		background-color: #9fd9dd;
	}
}

/* Mobile/Tablet */
@media only screen and (max-width: 999px) {
	* {
		font-size: 20px;
	}
	h1 {
		font-size: 30px;
	}
	h2, h3 {
		font-size: 24px;
	}
	
	fieldset, .fieldset, .listFieldset {
		margin: 0 0 50px 0;
		padding: 0;
	}
	fieldset, .fieldset, .listFieldset, .rightcolumn, .leftcolumn {
		overflow: hidden;
		width: 100%;
	}

	.bookTitle {
		font-size: 30px;
	}
	.bookYear, .pubName, .catDesc, .bookPrice {
		font-size: 22px;
	}

	/* NAV changes for vertical list */
	ul {
		overflow: hidden;
		list-style-type: none;
		text-align: center;
		margin: 0;
		padding: 0;
		width: 100%;
		color: white;
		background-color: #6f467e;
		overflow: auto;
	}
	ul li a, .dropbtn {
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}
	.dropbtn {
		cursor: initial;
	}
	ul li.dropdown {
		display: block;
	}
	.dropdown-content {
		overflow: hidden;
		display: none;
		padding: 10px;
		color: black;
		width: 100%;
		background-color: #b4aebc;
		z-index: 1;
	}
	.dropdown-content a, .dropdown-content form {
		color: black;
		padding: 12px 16px;
		margin: 1px;
		text-decoration: none;
		display: inline-block;
	}
	.dropdown-content a:hover {
		background-color: #9fd9dd;
	}
	.dropdown:hover .dropdown-content {
		display: block;
	}

	/* offers displayed below */
	aside, section, .aside {
		overflow: hidden;
		color: black;
		width: 100%;
	}
	.aside {
		margin: 0;
		padding: 0;
	}
	aside {
		padding: 5px 0px;
		margin: 5px 0px;
		text-align: center;
	}
	aside p {
		display: inline-block;
		text-align: left;
	}
}